---
import MemberCard from './MemberCard.astro';
import { Image } from 'astro:assets';
import { members } from '../const/members';

const firstColumn = members.slice(0, 3);
const secondColumn = members.slice(3, 6);
const thirdColumn = members.slice(6, 9);
---

<section class="relative flex min-h-screen w-full">
  <div class="relative flex w-full flex-col items-center p-8 text-center">
    <!-- Full Member Image -->
    <div
      class="pointer-events-none absolute inset-0 flex flex-col items-center"
    >
      <div
        class="mask-fade-bottom items center relative bottom-0 mx-auto flex h-[80vh] w-full justify-center"
      >
        {
          members.map(({ name }) => (
            <Image
              src={`/images/members/full/${name}-full.webp`}
              class="absolute hidden h-full w-auto object-cover lg:object-contain"
              alt={name}
              loading="lazy"
              decoding="async"
              width={200}
              height={300}
              fetchpriority="low"
              data-id={`full-image-${name}`}
            />
          ))
        }
      </div>
    </div>

    <!-- Member Selection Grid -->

    <div
      class="relative flex h-full w-full max-w-6xl flex-col items-center justify-end gap-8 sm:p-4"
    >
      <div
        class="relative grid min-w-max grid-cols-3 grid-rows-1 gap-4 md:min-w-0 md:grid-rows-2 md:gap-0"
      >
        <div>
          <div
            class="flex flex-row justify-around gap-2 md:justify-end lg:gap-4"
          >
            {
              firstColumn.map(({ name, memberCardClasses }) => (
                <MemberCard
                  id={name}
                  extraClasses={memberCardClasses}
                  src={`/images/members/cards/${name}.webp`}
                  alt={name}
                />
              ))
            }
          </div>
        </div>
        <div class="md:col-start-2 md:row-start-2">
          <div
            class="flex flex-row justify-around gap-2 md:justify-center lg:gap-4"
          >
            {
              secondColumn.map(({ name, memberCardClasses }) => (
                <MemberCard
                  id={name}
                  extraClasses={memberCardClasses}
                  src={`/images/members/cards/${name}.webp`}
                  alt={name}
                />
              ))
            }
          </div>
        </div>
        <div class="md:col-start-3 md:row-start-1">
          <div
            class="flex flex-row justify-around gap-2 md:justify-start lg:gap-4"
          >
            {
              thirdColumn.map(({ name, memberCardClasses }) => (
                <MemberCard
                  id={name}
                  extraClasses={memberCardClasses}
                  src={`/images/members/cards/${name}.webp`}
                  alt={name}
                />
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  let currentMemberId: string | null = null;

  document.addEventListener('member-card-hover', (event: Event) => {
    // TODO: Improve typing
    const customEvent = event as CustomEvent<{ id: string }>;
    const id = customEvent.detail.id;

    if (currentMemberId === id) return;

    if (currentMemberId) {
      document
        .querySelector(`[data-id='full-image-${currentMemberId}']`)
        ?.classList.add('hidden');
    }

    document
      .querySelector(`[data-id='full-image-${id}'] `)
      ?.classList.remove('hidden');
    currentMemberId = id;
  });

  document.addEventListener('member-card-exit', () => {
    if (currentMemberId) {
      document
        .querySelector(`[data-id='full-image-${currentMemberId}']`)
        ?.classList.add('hidden');

      currentMemberId = null;
    }
  });
</script>
