---
import { Image } from 'astro:assets';
import Calendar from '../assets/member-info/calendar.svg';
import Nationality from '../assets/member-info/nationality.svg';
import Color from '../assets/member-info/color.svg';
import Instagram from '../assets/member-info/instagram.svg';
import InfoItem from './InfoItem.astro';
import type { TMember } from '../types/members';
import type { TmemberId } from '../types/member-derived';

export interface Props {
  member: TMember;
  id: TmemberId;
}

const { member, id } = Astro.props;
const { name, fullName, emoji, social, color, nationality, birthday } = member;
const instagram = social.find((social) => social.platform === 'instagram');
---

<div class="rounded-2xl bg-white p-4 drop-shadow-md">
  <div
    class={`bg-apricot relative mx-auto h-[166px] w-[160px] rounded-full mb-6 overflow-hidden outline-5 outline-${id}`}
  >
    <Image
      src={member.image}
      widths={[160, 320]}
      sizes="160px"
      alt={name}
      class="absolute h-full w-full object-cover"
    />
  </div>
  <p
    class="text-magenta mb-1 text-center text-lg font-bold"
    data-testid="member-name"
  >
    {name}
  </p>
  <p class="mb-1 text-center text-sm" data-testid="member-full-name">
    {fullName}
  </p>
  <p class="text-center text-sm" data-testid="member-emoji">{emoji}</p>

  <div class="mt-6 flex flex-col gap-5">
    <InfoItem
      icon={Calendar}
      label="Birthday:"
      value={birthday.toLocaleDateString()}
    />
    <InfoItem icon={Nationality} label="Nationality:" value={nationality} />
    <InfoItem
      icon={Color}
      label="Color:"
      value={color}
      colorClass={`bg-${id}`}
    />
    <InfoItem
      icon={Instagram}
      label="Instagram:"
      value={instagram?.username || 'N/A'}
      link={instagram?.url || ''}
    />
  </div>
</div>
